.container {
    max-width: 90%;
    margin: auto;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

.header {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.top-bar {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.header-right {
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 300px;
    border-radius: 10px;
    line-height: 20px;
    border: none;
    background-color: #78788029;
    padding-left: 30px;
    display: flex;

}

.search-icon {
    position: relative;
}

.search-left {
    position: absolute;
    left: 5px;
    right: 50%;
    top: -2px;
    transform: translateY(50%);
}

.search-right {
    position: absolute;
    top: 1px;
    right: 0;
    left: 85%;
    transform: translateX(-20%);

}

.search-bar {
    display: flex;
}

h1 {
    /* G-Gb0okShop */

    position: absolute;
    width: 326px;
    height: 92px;
    left: 68px;
    top: 93px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 24px;
    /* or 50% */
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    color: #130BF6;
}

.nav-icon ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-icon ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-nav ul li {
    display: flex;
    align-items: center;

}

.main-nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.content {
    display: flex;
    gap: 30px;

}

.content .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.footer {
    display: flex;
    font-size: 24px;
    gap: 60px;
    padding: 30px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer ul li {
    list-style-type: none;

}

.footer ul li a {
    text-decoration: none;
}

.logo {
    top: 100px;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 95px;
}

.footer-icon p {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
    line-height: 10px;
}

.footer-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 34px;
    gap: 10px;
}

.footer-icon {
    align-items: center;
    
}